body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: white;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

/*============================================================*/

.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  padding: 24px 0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  background-color: white;
  align-items: center;
}
.header-nav-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.header-nav-logo-web {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-list {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.header-link {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.current {
  color: var(--OCEAN, #404bbf);
  position: relative;
}
.current::after {
  background-color: #404bbf;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
}

.header-adress-link {
  color: #434455;
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-adress-link:hover,
.header-adress-link:focus {
  text-decoration: underline;
  color: #404bbf;
}
.adress {
  font-style: normal;
  margin-left: auto;
}

.adress-list {
  display: flex;
  gap: 40px;
}

/*=========================================================*/

.hero {
  background-color: #2e2f42;
  display: flex;
  height: 600px;
  padding: 188px 0;
  flex-shrink: 0;
  max-width: 1440px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  max-width: 496px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/*========================================================*/

.section-second {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.qualities-list {
  display: flex;
  gap: 24px;
}
.qualities-item {
  width: calc((100% - 72px) / 4);
  flex-direction: column;
}
.con-icons-sec-sec {
  width: 264px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  flex-shrink: 0;
}
.qualities-item-icon {
  width: 64px;
  height: 64px;
}
.qualities-title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.qualities-link {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/*===============================================*/

.team {
  background: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.con-team-person {
  padding: 32px 0;
}
.team-people {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-person {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-person-job {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 8px;
}
.team-person-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  max-width: 232px;
  max-height: 40px;
  margin: 0 auto;
}
.team-person-item {
  width: 40px;
  height: 40px;
}
.team-person-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-person-link:hover,
.team-person-link:focus {
  background-color: #404bbf;
}
.team-person-icon {
  margin: 12px;
  fill: #f4f4fd;
}

/*=========================================================*/

.portfolio {
  background-color: white;
  padding: 120px 0;
}
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.thumb {
  position: relative;
  overflow: hidden;
}

.thumb .overlay {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px 32px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  background: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
  cursor: pointer;
}
.con-projects {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.projects-title {
  color: #2e2f42;
  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.projects {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/*============================================*/

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.span {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-bottom: 16px;
  width: 264px;
  height: 72px;
}

.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  gap: 16px;
  margin-right: 80px;
}

.footer-item {
  width: 40px;
  height: 40px;
}

.footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}
.footer-form-container {
}
.footer-form-text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-label {
}
.footer-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-input::placeholder {
  color: #ffffff;
}
.footer-input-btn {
  display: flex;
  min-width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  text-align: center;
  cursor: pointer;
  /* Button Text */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 24px;
}
.footer-input-btn:focus,
.footer-input-btn:hover {
  background-color: #404bbf;
}
.icon-subscribe {
  margin-left: 16px;
  fill: #fff;
}
/*=========================================*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e2f42b2;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}
.modal-button:hover .modal-button-icon,
.modal-button:focus .modal-button-icon {
  fill: #ffffff;
}
.modal-button-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  width: 360px;
  height: 24px;
  margin-bottom: 16px;
}
.modal-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 360px;
  max-height: 336px;
}
.modal-inputs {
  width: 360px;
  max-height: 336px;
}
.modal-field {
  display: block;
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  width: 56px;
  height: 14px;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-input-wrap {
  position: relative;
}
.modal-input {
  width: 360px;
  height: 40px;
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus,
.modal-input:active {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}
.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text-comment {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  color: #8e8f99;
  width: 56px;
  height: 14px;
  margin-bottom: 4px;
}
.modal-textarea {
  width: 360px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-container {
  margin-bottom: 16px;
}
.modal-textarea::placeholder {
  font-family: Roboto;
  font-size: 12px;
  font-style: inherit;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-textarea:focus,
.modal-textarea:active {
  border-color: #4d5ae5;
}
.modal-checkbox-container {
  margin-bottom: 24px;
}
.modal-check {
}
.modal-check-label {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}
.modal-check-label a {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #4d5ae5;
}
.span-label {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .modal-check-label .span-label {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-check-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  padding: 16px 32px;
}
.modal-check-btn:hover,
.modal-check-btn:focus {
  background-color: #404bbf;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
